<ion-view class="nav-bar primary-nav">
  
  <ion-nav-title>
    <span class="title">{{currentViewName}}</span>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios-settings" ng-click="openFilterPopover($event)"></button>
    <button class="button button-icon button-clear ion-ios-compose-outline" ng-click="newBrunch()">
    </button>
  </ion-nav-buttons>
  
  <ion-content>
    <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <brunch-list></brunch-list>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>

