<ion-popover-view>
  <ion-content>
    <ion-list>
      <ion-item ng-click="selectBrunchType('Breakfast')" class="item-icon-left">
        <i class="icon ion-coffee icon-spacer"></i>
        Breakfast
        <br>
      </ion-item>
      <ion-item ng-click="selectBrunchType('Lunch')" class="item-icon-left">
        <i class="icon ion-beer icon-spacer"></i>
        Lunch
        <br>
      </ion-item>
      <ion-item ng-click="selectBrunchType('Dinner')" class="item-icon-left">
        <i class="icon ion-icecream icon-spacer"></i>
        Dinner
        <br>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>