<ion-nav-bar class="nav-bar primary-nav">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

    <ion-tabs class="tabs-icon-top">

      <ion-tab title="Brunches" icon="ion-fork" ui-sref="app.tabs.brunches">
        <ion-nav-view name="brunches-tab">
        </ion-nav-view>        
      </ion-tab>

<!--       <ion-tab title="Team" icon="ion-person-stalker" ui-sref="app.tabs.team">
        <ion-nav-view name="team-tab">
        </ion-nav-view>
      </ion-tab> -->

    </ion-tabs> 