<div class="pane-blue">
	<ion-content scroll="false" class="login-footer-fix has-header" padding="true">
<ion-view class="pane-blue">
  <div class="box text-white">	
  			<img class="startImage center" src="img/logo.png">
        <h1 class="startText text-center">Brunch Out</h1>
        <h3 class="text-center logo-subtitle">Easily decide where to go to brunch with your co-workers</h3>
  </div>
	</ion-content>
	<ion-footer-bar class="bar-stable login-footer">
		<div class="row">
			<div class="col">
				<button class="button button-block login-button" nav-direction="forward" ui-sref="signin">Login</button>
				<button class="button button-block login-button" nav-direction="forward" ui-sref="signup">Sign up</button>
			</div>
		</div>	
	</ion-footer-bar>
</ion-view>